@page "/addfamily"

<h3>AddFamily</h3>
@* 
    Add family just street and number 
    Then redirect to family page where you can add:
        - adult
            job
        - child
        - pet
*@


@code {
    
}