@page "/"
@using Data
@using Models
@inject IFamilyDataService FamilyData
@inject NavigationManager NavManager

<div>
    <h2>All families</h2>
</div>

<TabControl>
    <TabPage Text="Families">
        <Families/>
    </TabPage>
    <TabPage Text="Adults">
        <Adults/>
    </TabPage>
    <TabPage Text="Children">
        <Children/>
    </TabPage>
    <TabPage Text="Pets">
        <Pets/>
    </TabPage>
</TabControl>


@code {

}